---
pageable: true
per_page: 25
---
<% content_for(:section) { "Travel" } %>

<%= page_header "Ryan's Travels" %>

<h2>Travel Day: 28</h2>
<h2>Current Location: Ubud, Bali</h2>
<h2>Next Destination: Padang Bai, Bali</h2>
<div id='travellerspoint-map875774_990035'><script src='http://www.travellerspoint.com/badges/badge_membermap.cfm?user=ryanfreeth&tripid=990035&amp;badgeid=travellerspoint-map875774_990035&amp;height=300&amp;width=450'></script><p class='travellerspoint-map-link'>View Full Size <a href='https://secure.travellerspoint.com/member_map.cfm?user=ryanfreeth&tripid=990035'>Travel Map</a> at <a href='http://www.travellerspoint.com'>Travellerspoint</a></p></div>
<br /><hr /><br/>
<section id="travel" class="index-posts">
  <%= partial "partials/article_index", locals: { articles: blog("travel").articles } %>
  <br /><hr /><br />
</section>
<h3>Number of steps: 382,973</h3>
<div class="medium-3 columns" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="content">
    <h4>Categories</h4>
    <ul>
      <li><a href="#">Skyler</a></li>
      <li><a href="#">Jesse</a></li>
      <li><a href="#">Mike</a></li>
      <li><a href="#">Holly</a></li>
    </ul>

    <h4>Authors</h4>
    <ul>
      <li><a href="#">Skyler</a></li>
      <li><a href="#">Jesse</a></li>
      <li><a href="#">Mike</a></li>
      <li><a href="#">Holly</a></li>
    </ul>
  </div>
</div>
